<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doggy DayCare</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Doggy Daycare</a>
      </h1>
      <nav>
        {{#if loggedIn}}
          <a href="/owners/dashboard">Dashboard</a>
          <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/owners/login">Dog Owners Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <h4>Thanks for visiting!</h4>
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>