<form class="login-form">
  <section>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </section>
  <section>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </section>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>

<a href="/signup">need to sign up instead?</a>

<script src="/js/login.js"></script>