<form class="login-form">
  <section>
    <label for="username-login">Username:</label>
    <input type="text" id="username-login" />
  </section>
  <section>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </section>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>

<form class="signup-form">
  <section>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </section>
  <section>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </section>
  <section>
    <label for="phone-signup">Phone Number:</label>
    <input type="integer" id="phone-signup" />
  </section>
  <section>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </section>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
<script src="/js/login.js"></script>