{{!-- <form class="login-form">
  <div>
    <label for="username-login">username:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
    <h4><a class="badge badge-primary" href="/signup">Sign up instead</a></h4>
</form>

<script src="/js/login.js"></script>
 --}}


<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                  <div class="card-header">Dog Owners Login</div>
                    <div class="card-body">
                      <form class="login-form">
                        <div class="form-group row">
                          <label for="username-login" class="col-md-4 col-form-label text-md-right">Username:</label>
                          <div class="col-md-6">
                            <input type="text" id="username-login" class="form-control"/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="password-login" class="col-md-4 col-form-label text-md-right">Password:</label>
                          <div class="col-md-6">
                            <input type="password" id="password-login" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                        <button type="submit">Sign In</button>
                        </div>
                        <a class="" href="/signup">Sign Up instead</a>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
</div>

<script src="/js/login.js"></script>