<form class="signup-form">
  <section>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </section>
  <section>
    <label for="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </section>
  <section>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </section>
  <section>
    <label for="first-name-signup">First Name:</label>
    <input type="text" id="first-name-signup" />
  </section>
    <section>
    <label for="last-name-signup">Last Name:</label>
    <input type="text" id="last-name-signup" />
  </section>
  <section>
    <label for="phone-signup">Phone Number:</label>
    <input type="integer" id="phone-signup" />
  </section>

  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>

<script src="/public/js/signup.js"></script>