<form class="owner-login-form">
  <section>
    <label for="owner-username-login">Username:</label>
    <input type="text" id="owner-username-login" />
  </section>
  <section>
    <label for="owner-password-login">Password:</label>
    <input type="password" id="owner-password-login" />
  </section>
  <div>
    <button type="submit">Sign In</button>
  </div>
</form>

<script src="/public/js/owner-login.js"></script>