{{!-- <form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
  <h4><a class="badge badge-primary" href="/login">Log in instead</a></h4>
</form>

<script src="/js/signup.js"></script> --}}


<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                  <div class="card-header">Sign Up</div>
                    <div class="card-body">
                      <form class="signup-form">
                        <div class="form-group row">
                          <label for="username-signup" class="col-md-4 col-form-label text-md-right">Username:</label>
                          <div class="col-md-6">
                            <input type="text" id="username-signup" class="form-control"/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="email-signup" class="col-md-4 col-form-label text-md-right">Email:</label>
                          <div class="col-md-6">
                            <input type="text" id="email-signup" class="form-control"/>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="password-signup" class="col-md-4 col-form-label text-md-right">Password:</label>
                          <div class="col-md-6">
                            <input type="password" id="password-signup" class="form-control"/>
                          </div>
                        </div>
                        <div class="col-md-6 offset-md-4">
                        <button type="submit">Sign Up</button>
                        </div>
                        <a class="" href="/login">Login In instead</a>
                      </form>
                    </div>
                  </div>
                </div>
          </div>
</div>

<script src="/js/signup.js"></script>